<div class="page-header">
  <!--<h1>Aihealueen nimi tähän</h1>-->
  <h1>{{ topic.name }}</h1>
</div>
<p>
  <!-- Aihealueen kuvaus tähän -->
  {{ topic.description }}
</p>

<!-- <h2>1 viesti</h2>-->
<h2><ng-pluralize count="topic.Messages.length" 
                          when="{ '0' : 'Ei viestejä',
                                  '1' : '1 viesti',
                                  'other' : '{} viestiä'}">
  
</ng-pluralize></h2>

<ul class="media-list">
  <li class="media" ng-repeat="message in topic.Messages">
    <div class="media-body">
      <h4 class="media-heading">
        <!-- <a href="#/messages/1">Viestin otsikko</a> -->
        <a href="#/messages/{{ message.id }}">{{ message.title }}</a>
      </h4>

      <p>
        <!-- Viestin sisältö -->
        {{ message.content }}
      </p>

      <p class="text-muted">
        <!--Käyttäjätunnus tähän, 1.1.2015 12:00-->
        {{ message.User.username }}, {{ message.createdAt | date :"dd/MM/yy HH:mm" }}
      </p>
    </div>
  </li>
</ul>

<div class="notice notice-info" ng-if="!userLoggedIn"><strong><a href="#/login">Kirjaudu sisään</a></strong> lisätäksesi viestejä!</div>
<div class="notice notice-info add" ng-if="userLoggedIn">
  
<h2>Lisää oma viestisi</h2>

<form>
  <div class="form-group">
    <label>Otsikko</label>
    <input type="text" class="form-control" ng-model="newMessage.title" required>
  </div>

  <div class="form-group">
    <label>Viesti</label>
    <textarea class="form-control" ng-model="newMessage.content" required></textarea>
  </div>
  <button class="btn btn-success" ng-click="addMessage()">Lisää viesti</button>
</form>
</div>