<div class="page-header">
  <!-- <h1>Viestin otsikko tähän</h1> -->
  <h1>{{ message.title }} </h1>
</div>
<p>
  <!--Viestin sisältö tähän  -->
  {{ message.content }}
</p>

<!-- <h2>1 vastaus</h3>-->
<h2><ng-pluralize count="message.Replies.length"
                  when="{'0': 'Ei vastauksia',
                         '1': '1 vastaus',
                         'other': '{} vastausta'}">
</ng-pluralize></h3>

<ul class="media-list">
  <li class="media" ng-repeat="reply in message.Replies">
    <div class="media-body">
      <h4 class="media-heading">{{ message.User.username }}</h4>

      <p>
        <!--Vastauksen sisältö tähän-->
        {{ reply.content }}
      </p>

      <p class="text-muted">
        <!--1.1.2015 12:00-->
        {{ message.User.username }},{{ reply.createdAt | date : "dd/MM/yy HH:mm" }}
      </p>
    </div>
  </li>
</ul>

<div class="notice notice-info" ng-if="!userLoggedIn"><strong><a href="#/login">Kirjaudu sisään</a></strong> lisätäksesi vastauksia!</div>
<div class="notice notice-info add" ng-if="userLoggedIn">

<h2>Lisää oma vastauksesi</h2>

<form>
  <div class="form-group">
    <label>Vastaus</label>
    <textarea class="form-control" ng-model="newReply.content" required></textarea>
  </div>
  <button class="btn btn-success" ng-click="addReply()" required>Lisää vastaus</button>
</form>
</div>