<div class="login-page">
  <div class="notice notice-danger" ng-show="error"> Väärä käyttäjätunnus tai salasana!</div>

  <form class="login-form">
    
  <h1>Kirjaudu sisään</h1>
      <div class="form-group">
         <label>Käyttäjätunnus</label></br>
      <input type="text" ng-model="users.username" required>
    </div>
    
       <div class="form-group">
         <label>Salasana</label></br>
      <input type="password" ng-model="users.password" required>
    </div>
    
    <button ng-click="login()">Kirjaudu sisään</button>
    
    <p class="message">Eikö sinulla ole käyttätunnusta? <a href="#/register">Rekisteröidy</a></p>
  </form>
</div>

