<div class="login-page">
  
      
  <div class="notice notice-danger" ng-show="error">Käyttäjätunnus on jo käytössä</div>
  <div class="notice notice-danger" ng-show="passwordError">Eri salasanat!</div>

  <form name="registerForm" class="login-form">
    <h1>Rekisteröidy</h1>
    
    <div class="form-group">
      <label>Käyttäjätunnus</label></br>
      <input type="text" name="username" ng-model="newUser.username" required>
    </div>

    <div class="form-group">
      <label>Salasana</label></br>
      <input type="password" name="passw" ng-model="passw"required>
    </div>

    <div class="form-group">
      <label>Salasana uudelleen</label></br>
      <input type="password" name="passw2" ng-model="passw2" required>
    </div>

    <button ng-click="register()" ng-disabled="registerForm.username.$invalid || registerForm.passw.$invalid || registerForm.passw2.$invalid">Rekisteröidy</button>
    
    <p class="message">Jos sinulla on jo käyttäjätunnus <a href="#/login">Kirjaudu sisään</a></p>
  </form>
  
  </div>